# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java每日一练\student-manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
